<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">


  <button (click)="storeData('dburl', 'http://localhsot:3000/')">Store</button>

  <div>
    <h3>In Local Storage</h3>
    {{localData | json}}
  </div>

   <div>
    <h3>In Session Storage</h3>
    {{sessionData | json}}
  </div>


  <!--<button (click)="saveInLocal('favouritecolor', 'red')">Save</button>

  <button (click)="getFromLocal('favouritecolor')">Show</button>

  <div>
    Local
    {{ data | json}}
  </div>

  <div>
    Session:
    {{sessionData | json}}
  </div>-->
</div>
